@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes shine {
  0% {
    background: rgb(201, 198, 198);
  }
  100% {
    background: rgb(179, 176, 176);
  }
}

.shine-animation {
  animation: shine 0.5s infinite linear;
}
